$small: 600px;
$medium: 900px;

.header {
  margin-top: 2rem;

  .name {
    font-weight: bolder;
    @media screen and (max-width: $small) {
      font-size: 10px;
    }
  }

  input {
    width: 100%;
    height: 48px;
    padding-right: 10px;

    border-radius: 12px;
    background: #FBFBFB;
    @media screen and (max-width: $small) {
     display: none;
    }
    @media screen and (max-width: $medium) {
      width: 13em

    }

  }
}
  .input-phone{
    input {
      width: 280px;
      height: 48px;
     margin-top: 10px;
      padding-right: 10px;
      display: none;
      border-radius: 12px;
      background: #FBFBFB;
      @media screen and (max-width: $small) {
        display: block;
      }

}
  }

.box {
  span {

    padding-right: 1.8rem;

  }

  img {
    width: 40px;
    height: 40px;
    position: absolute;
  }

  .img-box {
    margin: auto;
    display: inline;
  }
}