
$default-diff:  12px;
$default-width: 100%;
$default-min: 10%;
$small: 600px;
$medium: 900px;

.weight{
  background: #FFFFFF;
  border-radius: 22px;
  padding: 1rem;
  margin: 1%;
}


.container {

  .card-stack {
    //width: 500px;
    height: 20rem;
    position: relative;
    margin: 2px auto;



    .prev {
      left: 15px;
      right: auto;
    }

    .next {
      left: auto;
      right: 15px;
    }

    .carousel .buttons:hover {
      color: #C01313 ;
      background: #fff;
    }

    .card-list {
      width: 300px;
      margin-top: -50px;
      li {
        transition: all 100ms ease-in-out;
        border-radius: 30px;
        position: absolute;
        list-style: none;
        height: 10rem;
        //-webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
        //box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
        background-size: 100% 12rem;
        background-repeat: no-repeat;
color: white;
        font-weight: bold;
        span{
  padding: 12%;
          font-size: large;
        }
        .logo{
          position: relative;
          top: -80%;
          left: 3px;
          padding-right: 40%;
background-image: url("./img/img.png");
          background-size: 1rem;
          background-repeat: no-repeat;
          height: 27px;
          width: 25px;
          background-position: bottom;
          @media screen and (max-width: $small) {
            left:20%;
            top: -40%;
          }
        }
        .price{
          position: relative;
          bottom: -100%;
          left: 3px;
          padding: 9%;
          @media screen and (max-width: $small) {

            font-size: small;
          }
        }
        .shaba{
          position: relative;
          bottom:-170%;
          left: -80%;
          padding: 0;
          font-size: 80%;
          @media screen and (max-width: $small) {
            bottom: -50px;
            left: -111px;
            font-size: 14px;

          }
          @media screen and (min-width: $medium) {
            bottom:-100%;
            left: -80%;
            font-size: 11px;
          }
        }
        &:nth-child(1) {
          top: ($default-diff * 3);
          width: $default-width - $default-min * 2;

          filter: blur(5px);
          -webkit-filter: blur(5px);
        }
        &:nth-child(2) {
          top: ($default-diff * 6);
          width: $default-width - $default-min * 1;



        }
        &:nth-child(3) {
          top: ($default-diff * 9);
          width: $default-width - $default-min * 0;

        }
      }


    }

    &:hover {
      > .buttons.prev {
        display: block;
        animation: bounceInLeft 200ms;
      }

      > .buttons.next {
        display: block;
        animation: bounceInRight 200ms;
      }
    }
  }
}

.transformThis {
  animation: scaleDown 500ms;
}

.transformPrev {
  animation: scaleUp 100ms;
  display: none;
}

@keyframes scaleUp {
  0% {transform: scale(1.2) translateY(50px); opacity: 0; }
  20% {transform: scale(1.15) translateY(40px); opacity: 0.10;}
  40% {transform: scale(1.10) translateY(30px); opacity: 0.20;}
  60% {transform: scale(1.05) translateY(20px); opacity: 0.40;}
  80% {transform: scale(1.01) translateY(10px); opacity: 0.80;}
  100% {transform: scale(1) translateY(0); opacity: 1;}
}

@keyframes scaleDown {
  0% {transform: scale(1) translateY(0); opacity: 1; }
  20% {transform: scale(1.01) translateY(20px); opacity: 0.80;}
  40% {transform: scale(1.05) translateY(40px); opacity: 0.40;}
  60% {transform: scale(1.10) translateY(60px); opacity: 0.20;}
  80% {transform: scale(1.15) translateY(80px); opacity: 0.10;}
  100% {transform: scale(1.2) translateY(100px); opacity: 0;}
}

@keyframes scaleCard {
  0%   {top:5px;}
  100% {top:24px;}
}

@keyframes bounceInLeft {
  0% { opacity: 0; transform: translateX(40px); }
  // 60% { opacity: 1; transform: translateX(20px); }
  // 80% { transform: translateX(20px); }
  100% { transform: translateX(0); }
}

@keyframes bounceInRight {
  0% { opacity: 0; transform: translateX(-40px); }
  // 60% { opacity: 1; transform: translateX(-20px); }
  // 80% { transform: translateX(20px); }
  100% { transform: translateX(0); }
}
.buttons {
background: transparent!important;
border: none!important;
  width: 50px;
  height: 50px;
  left: 0;
  top: 55%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
  z-index: 100;
  outline: none;
  transition:all 0.2s ease;
  &:hover{
    transform: scale(1.3,1.3);
  }
}
.Description{
  font-size: x-small;
  font-weight: bolder;
}
.title-DollarAssets{
  font-weight: bolder;

}
.container-Wallet{
  margin-top: 1rem;
}
.btn-AddWallet{
  background: #D1E7FF;
  border-radius: 12px;
  font-weight: bold;
  width: 80%;
  border: none!important;
  padding: 9px 46px 9px 46px;
  @media screen and (min-width: $medium) {
    padding:5px 30px 5px 30px;
    font-size: smaller;
  }
}
.list-recent{
  padding-top: 10px;
  &:last-child{
    border-bottom:none!important ;

  }
  .item-recent{
    padding-top: 10px;
    padding-bottom: 10px;
border-bottom:1px solid #ccc ;
    &:last-child{
      border-bottom:none!important ;

    }
    }
  .description{
    font-size: smaller;
  }
  .creatDate{
    font-size: smaller;
  }

}
.curve{
  margin-top: 2rem;
  color: white;
  border-radius: 31px 500px 31px 31px;
  padding: 4rem;
  height: 40px;
  font-size: small;
  text-align: center;

  @media screen and (min-width: $medium) {
    padding: 2rem;
  }

  div{
    padding-bottom: 1rem;
    @media screen and (min-width: $medium) {
      font-size: smaller;
      padding-bottom:0;
    }
  }
}
.green{
  background-color: #3AE5B2;

}
.pink{
  background-color: #FF55BB;

}
.blue{
  background-color: #298FFE;

}
.bg-blue{
  border-radius: 21px;
  background-color: #D1E7FF;
}
.bg-pink{
  border-radius: 21px;
  background-color: #F2DCF6;
}
.bg-green{
  border-radius: 21px;
  background-color: #BCF9D8;
}